$color: (
        blue: #0096f5,
        blue_dark: #0077d5,
        black: #1b1b1b,
        white: #FFFFFF,
);

$margin: (
        elements_form: 15px,
);

$border: (
        radius: .3em,
        thickness: 1px,
        buttom: .2em,
);
